/*! sanitize.css v3.0.0 | CC0 1.0 Public Domain | github.com/10up/sanitize.css */
/*
 * Normalization
 */
audio:not([controls]) {
  display: none;
}

button {
  overflow: visible;
  -webkit-appearance: button;
}

details {
  display: block;
}

html {
  -ms-overflow-style: -ms-autohiding-scrollbar;
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%;
}

input {
  -webkit-border-radius: 0;
}

input[type="button"], input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
}

input[type="number"] {
  width: auto;
}

input[type="search"] {
  -webkit-appearance: textfield;
}

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

main {
  display: block;
}

pre {
  overflow: auto;
}

progress {
  display: inline-block;
}

small {
  font-size: 75%;
}

summary {
  display: block;
}

svg:not(:root) {
  overflow: hidden;
}

template {
  display: none;
}

textarea {
  overflow: auto;
}

[hidden] {
  display: none;
}

/*
 * Universal inheritance
 */
*,
::before,
::after {
  box-sizing: inherit;
}

* {
  font-size: inherit;
  line-height: inherit;
}

::before,
::after {
  text-decoration: inherit;
  vertical-align: inherit;
}

/*
 * Opinionated defaults
 */
*,
::before,
::after {
  border-style: solid;
  border-width: 0;
}

* {
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
}

:root {
  background-color: white;
  box-sizing: border-box;
  color: #222222;
  cursor: default;
  font: 16px/1.5 "Open Sans", sans-serif;
  text-rendering: optimizeLegibility;
}

a {
  text-decoration: none;
}

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

button,
input,
select,
textarea {
  background-color: transparent;
}

button,
input,
select,
textarea {
  color: inherit;
  font-family: inherit;
  font-style: inherit;
  font-weight: inherit;
}

button,
[type="button"],
[type="date"],
[type="datetime"],
[type="datetime-local"],
[type="email"],
[type="month"],
[type="number"],
[type="password"],
[type="reset"],
[type="search"],
[type="submit"],
[type="tel"],
[type="text"],
[type="time"],
[type="url"],
[type="week"],
select,
textarea {
  min-height: 1.5em;
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
}

nav ol,
nav ul {
  list-style: none;
}

select {
  -moz-appearance: none;
  -webkit-appearance: none;
}

select::-ms-expand {
  display: none;
}

select::-ms-value {
  color: currentColor;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

textarea {
  resize: vertical;
}

::-moz-selection {
  background-color: #fafcfe;
  color: false;
  text-shadow: none;
}

::selection {
  background-color: #fafcfe;
  color: false;
  text-shadow: none;
}

[aria-busy="true"] {
  cursor: progress;
}

[aria-controls] {
  cursor: pointer;
}

[aria-disabled] {
  cursor: default;
}

[hidden][aria-hidden="false"] {
  clip: rect(0 0 0 0);
  display: inherit;
  position: absolute;
}

[hidden][aria-hidden="false"]:focus {
  clip: auto;
}

html {
  font-weight: 300;
}

html,
body {
  height: 100%;
  font-weight: 300;
}

::-moz-selection {
  background-color: #fafcfe;
  color: #222222;
}

::selection {
  background-color: #fafcfe;
  color: #222222;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

button {
  cursor: pointer;
  outline: none;
}

.toolbar {
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 0.5em;
  height: 60px;
}

.search {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  width: 100%;
  height: 100%;
}

.search__header {
  -ms-flex: 0 0 auto;
      flex: 0 0 auto;
  background-color: #4A90E2;
}

.search__header-input {
  display: -ms-flexbox;
  display: flex;
  -ms-flex: 1 1 auto;
      flex: 1 1 auto;
  border: 1px solid #e0e0e0;
  width: 100%;
  background-color: #FFF;
  font-size: 1.125em;
  border-radius: 4px;
  padding: 0.5em 0.7em;
}

.search__header-input-icon {
  -ms-flex: 0 0 auto;
      flex: 0 0 auto;
  position: relative;
  margin-right: 0.5em;
  top: 0.1em;
  color: #CCC;
}

.search__header-input-field {
  -ms-flex: 1 1 auto;
      flex: 1 1 auto;
}

.search__header-input-field:focus {
  outline: none;
}

.search__header-schedule-button {
  -ms-flex: 0 0 auto;
      flex: 0 0 auto;
  padding-left: 0.7em;
  padding-right: 0.3em;
}

.search__header-schedule-button i {
  font-size: 1.5em;
  color: #FFF;
}

.search-map {
  -ms-flex: 0 0 auto;
      flex: 0 0 auto;
  width: 100%;
  display: -ms-flexbox;
  display: flex;
  background-color: #f7f7f7;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  height: 12.5em;
}

.search-map__loading {
  color: #808080;
}

.search-map__loading i {
  margin-right: 0.5em;
}

.search-results {
  -ms-flex: 1 1 auto;
      flex: 1 1 auto;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  border-top: 1px solid #e0e0e0;
  border-bottom: 1px solid #e0e0e0;
}

.search-results__loading {
  display: none;
  padding: 30px;
  text-align: center;
  color: #808080;
}

.search-results__loading--visible {
  display: block;
}

.search-results__loading i {
  margin-right: 0.5em;
}

.search__schedule-button {
  -ms-flex: 0 0 auto;
      flex: 0 0 auto;
  padding: 10px;
  text-align: center;
  font-size: 1em;
  line-height: 1.5;
  color: #4A90E2;
}

@media (min-width: 71.5em) {
  .search__schedule-button {
    font-size: 1.125em;
    line-height: 1.666666667;
  }
}

.search__schedule-button:hover, .search__schedule-button:focus {
  color: #2275d7;
}

.search__schedule-button i {
  margin-right: 0.5em;
}

@keyframes pulse {
  from {
    transform: scale3d(1, 1, 1);
  }
  50% {
    transform: scale3d(1.2, 1.2, 1.2);
  }
  to {
    transform: scale3d(1, 1, 1);
  }
}

.search__schedule-button-inner--pulse {
  animation-fill-mode: both;
  animation: pulse 1s;
}

.search-results__list-item,
.schedule__list-item {
  display: -ms-flexbox;
  display: flex;
  padding: 10px;
  border-top: 1px solid #e0e0e0;
  background-color: #FFF;
}

.search-results__list-item:first-of-type,
.schedule__list-item:first-of-type {
  border-top: 0;
}

.search-results__list-item:nth-child(odd) .search-results__list-item-image,
.schedule__list-item:nth-child(odd) .search-results__list-item-image {
  background-color: #FFF;
}

.search-results__list-item-image {
  -ms-flex: 0 0 auto;
      flex: 0 0 auto;
  overflow: hidden;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  width: 4.0625em;
  height: 4.0625em;
  background-color: #ebebeb;
  border-radius: 4px;
}

.search-results__list-item-image img {
  width: 100%;
  height: 100%;
}

.search-results__list-item-image-icon {
  color: #808080;
}

.search-results__list-item-info {
  -ms-flex: 1 1 auto;
      flex: 1 1 auto;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  padding-left: 10px;
  -ms-flex-pack: center;
      justify-content: center;
}

.search-results__list-item-title {
  font-size: 1em;
  line-height: 1.5;
  font-weight: 400;
  color: #383838;
}

@media (min-width: 71.5em) {
  .search-results__list-item-title {
    font-size: 1.125em;
    line-height: 1.666666667;
  }
}

.search-results__list-item-rating {
  font-size: 0.875em;
  line-height: 1.428571429;
  color: #808080;
}

@media (min-width: 71.5em) {
  .search-results__list-item-rating {
    font-size: 1em;
    line-height: 1.5;
  }
}

.search-results__list-item-schedule {
  font-size: 0.6875em;
  line-height: 1.272727273;
  margin-top: 0.2em;
  color: #808080;
}

@media (min-width: 71.5em) {
  .search-results__list-item-schedule {
    font-size: 0.75em;
    line-height: 1.333333333;
  }
}

.search-results__list-item-schedule-day {
  text-align: center;
  display: inline-block;
  border-left: 1px solid #e0e0e0;
  font-weight: 600;
  border-left: 1px solid #CCC;
  padding: 0 0.2em;
  min-width: 1.5em;
  color: #bfbfbf;
}

.search-results__list-item-schedule-day:first-child {
  border-left: 0;
}

.search-results__list-item-schedule-day--active {
  color: #666;
}

.search-results__list-item-action {
  -ms-flex: 0 0 auto;
      flex: 0 0 auto;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: center;
      justify-content: center;
}

.modal__place .search-results__list-item-action {
  display: none;
}

.search-results__list-item-button {
  font-size: 0.875em;
  line-height: 1.428571429;
  padding: 0.25em 0.8em;
  background-color: #4A90E2;
  color: white;
  border-radius: 4px;
}

@media (min-width: 71.5em) {
  .search-results__list-item-button {
    font-size: 1em;
    line-height: 1.5;
  }
}

.search-results__list-item-button:hover, .search-results__list-item-button:active, .search-results__list-item-button:focus {
  background-color: #2275d7;
}

.schedule__list-item .search-results__list-item-button--add {
  display: none;
}

.search-results__list-item-button--remove {
  display: none;
}

.schedule__list-item .search-results__list-item-button--remove {
  display: block;
}

.search-results__list-item-button i {
  position: relative;
  top: -0.1em;
  margin-right: 0.5em;
}

.schedule {
  position: fixed;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  background-color: #FFF;
  top: 0;
  left: 0;
  transition: transform 0.25s ease-in-out;
  transform: translateY(100%);
}

.schedule--active {
  transform: translateY(0);
}

.schedule__header {
  display: -ms-flexbox;
  display: flex;
  background-color: #FFF;
  color: #4A90E2;
  font-size: 1.5em;
}

.schedule__header-calendar {
  -ms-flex: 0 0 auto;
      flex: 0 0 auto;
  font-size: 1.4em !important;
}

.schedule__header-title {
  -ms-flex: 1 1 auto;
      flex: 1 1 auto;
  margin-left: 0.5em;
  line-height: 1.3;
}

.schedule__header-close {
  -ms-flex: 0 0 auto;
      flex: 0 0 auto;
  text-align: center;
  width: 1.6em;
}

.schedule__header-close:hover, .schedule__header-close:focus {
  color: #2275d7;
}

.schedule__header-close i {
  font-size: 1.3em;
}

.modal__place .schedule__list-item {
  padding-left: 20px;
  padding-right: 20px;
  background-color: #f7f7f7;
}

.schedule__list-day {
  min-height: 6.875em;
}

.schedule__list-day-title {
  border-top: 1px solid #e0e0e0;
  border-bottom: 1px solid #e0e0e0;
  padding-left: 10px;
  padding-right: 10px;
  font-weight: 400;
  font-size: 0.75em;
  line-height: 1.333333333;
  padding-top: 0.25em;
  padding-bottom: 0.25em;
  background-color: #f7f7f7;
}

@media (min-width: 71.5em) {
  .schedule__list-day-title {
    font-size: 0.875em;
    line-height: 1.285714286;
  }
}

.modal-background {
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  transition: all 0.25s ease-in-out;
  z-index: 9998;
  background: rgba(0, 0, 0, 0.5);
}

.modal--open + .modal-background {
  display: block;
}

.modal--visible + .modal-background {
  opacity: 1;
}

.modal--closed + .modal-background {
  opacity: 0;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
  z-index: 9999;
}

.modal--open {
  display: block;
}

.modal--inline {
  position: relative;
  display: block;
  margin-right: auto;
  margin-left: auto;
  z-index: 1;
}

@media (min-width: 71.5em) {
  .modal--inline {
    margin-top: 120px;
    margin-bottom: 120px;
  }
}

.modal.modal--inline.modal--small {
  max-width: 25em;
}

.modal__inner {
  position: fixed;
  overflow: hidden;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  top: 50%;
  left: 50%;
  max-width: 48em;
  max-height: 96%;
  width: 96%;
  border-radius: 15px;
  transition: all 0.25s cubic-bezier(0.68, 0, 0.265, 1.55);
  transform: translate(-50%, -40%) scale(0.75);
  background: #FFF;
  box-shadow: 0 1px 0 0 #e1e5e8;
  opacity: 0;
  transform-origin: 50% 50%;
}

.modal--visible .modal__inner {
  transform: translate(-50%, -50%) scale(1);
  opacity: 1;
}

.modal--success .modal__inner {
  transform: translate(-50%, -100%) scale(0.75) rotate(-15deg);
  transition: all 0.25s cubic-bezier(0.68, -0.55, 0.265, 0);
  opacity: 0;
}

.modal--closed .modal__inner {
  transform: translate(-50%, 0%) scale(0.75) rotate(-15deg);
  transition: all 0.25s cubic-bezier(0.68, -0.55, 0.265, 0);
  opacity: 0;
}

@media (min-width: 48em) {
  .modal--small .modal__inner {
    max-width: 25em;
  }
}

.modal__header {
  -ms-flex: 0 0 auto;
      flex: 0 0 auto;
  display: -ms-flexbox;
  display: flex;
  padding-left: 20px;
  -ms-flex-pack: end;
      justify-content: flex-end;
}

.modal__header-title {
  -ms-flex: 1 1 auto;
      flex: 1 1 auto;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 1.5em;
  color: #383838;
}

.modal__content {
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  width: 100%;
  -ms-flex: 1 1 auto;
      flex: 1 1 auto;
  position: relative;
  padding-bottom: 30px;
}

.modal__close {
  -ms-flex: 0 0 auto;
      flex: 0 0 auto;
  position: relative;
  margin-top: 10px;
  margin-right: 20px;
  color: #4A90E2;
  width: 40px;
  height: 55px;
  z-index: 1;
  outline: none;
}

.modal__close i {
  font-size: 2em;
}

.modal__place {
  -ms-flex: 0 0 auto;
      flex: 0 0 auto;
  border-top: 1px solid #e0e0e0;
}

.modal__list {
  border-top: 1px solid #e0e0e0;
}

.modal__list-item-button {
  width: 100%;
  padding: 20px;
  border-bottom: 1px solid #e0e0e0;
  color: #4A90E2;
  text-align: left;
}

.hidden {
  display: none;
}
/*# sourceMappingURL=foodielist.css.map */