include node_modules/flexwebcore/src/jade/flexwebcore/_flexwebcore

doctype html
html
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1')
    meta(name='apple-mobile-web-app-capable' content='yes')
    meta(name='apple-mobile-web-app-status-bar-style' content='translucent black')
    title FoodieList
    link(rel='stylesheet', type='text/css', media="screen" href='css/foodielist.css')

    script(src='//use.typekit.net/*.js')
    script.
      try{Typekit.load();}catch(e){}
  
    main