// =============================================
//							       THEME
// =============================================

$white: #FFF;
$black: #000;

$page-bg-color: white;
$primary-color: #4A90E2;
$primary-text-color: #222222;
$selection-bg-color: lighten($primary-color, 40%);
$border-color: #e0e0e0;

@import '../node_modules/flexwebcore/src/scss/flexwebcore/core/_all-core.scss';

$root-font-family: 'Open Sans', sans-serif;
$root-font-size: 16px;
$root-line-height: 1.5;
$root-background-color: white;
$root-color: $primary-text-color;
$selection-background-color: lighten($primary-color, 40%);
$selection-color: false;

@import "sanitize-css/sanitize.scss"; //available in bower_components

html {
  font-weight: 300;
}

html,
body {
  @include full-height;
  @include font-light;
}

::selection {
	background-color: $selection-bg-color; // sanitize override
  color: $primary-text-color; // sanitize override
}

ul {
  @include unstyled;
}

button {
  cursor: pointer;
  outline: none;
}

.hidden {
  @include hidden;
}

.toolbar {
  @include flex;
  @include full-width;
  padding: 0.5em;
  height: 60px;
}

.search {
  @include flex;
  @include flex-vertical;  
  @include full-width;
  @include full-height;
  // max-width: unquote($small);
  // margin-left: auto;
  // margin-right: auto;

}

.search__header {
  @include flex-fixed;
  background-color: $primary-color;
}

.search__header-input {
  @include flex;
  @include flex-fluid;
  @include bordered;
  @include full-width;
  @include bg-color-white;
  font-size: $type-18;
  border-radius: $border-radius-lg;
  padding: 0.5em 0.7em;
  // box-shadow: 0 1px 5px rgba(0,0,0,0.2);
}

.search__header-input-icon {
  @include flex-fixed;
  @include relative;
  margin-right: 0.5em;
  top: 0.1em;
  color: #CCC;
}

.search__header-input-field {
  @include flex-fluid;
  &:focus {
  	outline: none;
	}
}

.search__header-schedule-button {
  @include flex-fixed;
  padding-left: 0.7em;
  padding-right: 0.3em;

  i {
    font-size: 1.5em;
    color: $white;
  }
}

.search-map {
  @include flex-fixed;
  @include full-width;
  @include flex;
  background-color: #f7f7f7;
  justify-content: center;
  align-items: center;
  height: 12.5em; //200px
}

.search-map__loading {
  color: #808080;
  
  i {
    margin-right: 0.5em;
  }
}

.search-results {
  @include flex-fluid;
  @include overflow-x-hidden-scroll-y;
}

.search-results__list {
  @include border-top;
}

.search-results__list-item,
.schedule__list-item {
  @include flex;
  @include padded(1);
  @include border-bottom;
  
  &:nth-child(odd) {
    background-color: #f7f7f7;
    
    .search-results__list-item-image {
      @include bg-color-white;
    }
  }
}

.search-results__footer {
  @include padded(1);
}

.search-results__show-more {
  @include hidden;
  @include full-width;
  @include bg-color-white;
  @include type-small;
  padding: 0.25em 1em;
  border: 1px solid $primary-color;
  color: $primary-color;
  border-radius: $border-radius-lg;
  
  &--visible {
    @include block;
  }
}

.search-results__list-item-image {
  @include flex-fixed;
  @include overflow-hidden;
  @include flex;
  justify-content: center;
  align-items: center;
  width: 4.0625em; //65px
  height: 4.0625em; //65px
  background-color: #ebebeb;
  border-radius: $border-radius-lg;
  
  img {
    @include full-width;
    @include full-height;
  }
}

.search-results__list-item-image-icon {
  color: #808080;
}

.search-results__list-item-info {
  @include flex-fluid;
  @include flex;
  @include flex-vertical;
  @include pad-left;
  justify-content: center;
}

.search-results__list-item-title {
  @include type-default;
  @include font-regular;
  color: #383838;
}

.search-results__list-item-rating {
  @include type-small;
  color: #808080;
}

.search-results__list-item-schedule {
  @include type-xsmall;
  margin-top: 0.2em;
  color: #808080;
}

.search-results__list-item-schedule-day {
  @include align-center;
  @include inline-block;
  @include border-left;
  @include font-medium;
  border-left: 1px solid #CCC;
  padding: 0 0.2em;
  min-width: 1.5em;
  color: #bfbfbf;
  
  &:first-child {
    border-left: 0;
  }
  
  &--active {
    color: #666;
  }
}

.search-results__list-item-action {
  @include flex-fixed;
  @include flex;
  @include flex-vertical;
  @include pad-left;
  justify-content: center;
}

.search-results__list-item-button {
  @include type-small;
  padding: 0.25em 0.8em;
  background-color: $primary-color;
  color: white;
  border-radius: $border-radius-lg;
  
  &:hover,
  &:active {
    background-color: darken($primary-color, 10%);
  }
  
  &--remove {
    @include hidden;
  }
  
  i {
    @include relative;
    top: -0.1em;
    margin-right: 0.5em;
  }
}

.schedule {
  @include fixed;
  @include full-width;
  @include full-height;
  @include overflow-x-hidden-scroll-y;
  top: 0;
  left: 0;
  background-color: #f7f7f7;
  transition: transform $default-transition;
  transform: translateY(100%);
  
  &--active {
    transform: translateY(0);
  }
}

.schedule__header {
  @include flex;
  @include border-bottom;
  @include bg-color-white;
  font-size: 1.5em;
  color: $primary-color;
}

.schedule__header-calendar {
  @include flex-fixed;
  font-size: 1.4em !important;
}

.schedule__header-title {
  @include flex-fluid;
  margin-left: 0.5em;
  line-height: 1.3;
}

.schedule__header-close {
  @include flex-fixed;
  @include align-center;
  width: 1.6em;
  
  i {
    font-size: 1.3em;
  }
}

.schedule__placeholder {
  @include padded(3);
  @include align-center;
  color: #808080;
  
  .schedule--filled & {
    @include hidden;
  }
}

.schedule__list {
  @include hidden;
  
  .schedule--filled & {
    @include block;
  }
}

.schedule__list-item {
  .search-results__list-item-button--add {
    @include hidden;
  }
  
  .search-results__list-item-button--remove {
    @include block;
  }
}