// =============================================
//							       THEME
// =============================================

$white: #FFF;
$black: #000;

$page-bg-color: white;
$primary-color: red;
$primary-text-color: #222222;
$border-color: #e0e0e0;

@import '../node_modules/flexwebcore/src/scss/flexwebcore/core/_all-core.scss';

$root-font-family: 'Open Sans', sans-serif;
$root-font-size: 16px;
$root-line-height: 1.5;
$root-background-color: white;
$root-color: $primary-text-color;
$selection-background-color: lighten($primary-color, 40%);
$selection-color: false;

@import "sanitize-css/sanitize.scss"; //available in bower_components

html {
  font-weight: 300;
}

html,
body {
  @include full-height;
}

ul {
  @include unstyled;
}

.hidden {
  @include hidden;
}

.page-main {
  @include flex;
  @include flex-vertical;  
  @include full-width;
  @include full-height;
  @include triple-pad-top;
  @include double-pad-left;
  @include double-pad-right;
  @include triple-pad-bottom;
  max-width: unquote($small);
  margin-left: auto;
  margin-right: auto;
  
  @include breakpoint($large) {
    @include xxlarge-pad-top;
  }
}

.search {
  @include flex-fixed;
  @include full-width;
}

.search__input {
  @include bordered;
  @include full-width;
  @include type-h4(300);
  border-radius: 4px;
  padding: 0.5em 0.7em;
  box-shadow: 0 1px 5px rgba(0,0,0,0.2);
  
  &:focus {
  	outline: none;
	}
}

.search-map {
  @include flex-fixed;
  @include full-width;
  @include triple-gap-top;
  height: 12.5em; //200px
}

.schedule {
  @include flex-fluid;
  @include overflow-x-hidden-scroll-y;
  @include padded(3);
  @include triple-gap-top;
  background-color: #f7f7f7;
}

.schedule__placeholder {
  @include align-center;
  
  .schedule--filled & {
    @include hidden;
  }
}

.schedule__list {
  @include hidden;
  
  .schedule--filled & {
    @include block;
  }
}

.schedule__list-item {
  @include double-gap-top;
  @include padded(2);
  @include overflow-hidden;
  @include bg-color-white;
  border-radius: 4px;
  box-shadow: 0 1px 5px rgba(0,0,0,0.2);
  
  &:first-child {
    @include zero-gap-top;
  }
  
  .search-results__list-item-button--add {
    @include hidden;
  }
  
  .search-results__list-item-button--remove {
    @include block;
  }
}

.search-results__list-item-button--add {
  padding: 0.5em;
  background-color: green;
  color: $white;
  border-radius: 4px;
}

.search-results__list-item-button--remove {
  @include hidden;
  padding: 0.5em;
  background-color: red;
  color: $white;
  border-radius: 4px;
}

.search-results {
  @include flex-fluid;
  @include triple-gap-top;
  @include overflow-x-hidden-scroll-y;
  @include bordered;
  border-radius: 4px;
  box-shadow: 0 1px 5px rgba(0,0,0,0.2);
}

.search-results__list-item {
  @include padded(2);
  @include border-top;
  
  &:first-child {
    border-top: 0;
  }
}

