doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title FoodieList
    link(rel='stylesheet', type='text/css', media="screen" href='css/foodielist.css')
    link(href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600" rel="stylesheet")
    
    
    script(src='js/foodielist.js')
    script(src="https://use.fontawesome.com/c46c5b9311.js")
    
    body
      .search
        .search__header.toolbar
          .search__header-input
            i.fa.fa-search.search__header-input-icon(aria-hidden="true")
            input.search__header-input-field#search-input-field(placeholder="Find Restaurants by Location")
          //- button.search__header-schedule-button
          //-   i.fa.fa-calendar(aria-label="View My Schedule")
          
        .search-map#map
          .search-map__loading 
            i.fa.fa-circle-o-notch.fa-spin(aria-hidden="true")
            | Loading Location
        
        .search-results
          ul.search-results__list
          .search-results__loading.search-results__loading--visible
            i.fa.fa-circle-o-notch.fa-spin(aria-hidden="true")
            | Loading Restaurants
            
        button.search__schedule-button
          .search__schedule-button-inner
            i.fa.fa-calendar(aria-hidden="true")
            | View Schedule
          
      .schedule.schedule--filled
        .schedule__header.toolbar
          i.fa.fa-calendar.schedule__header-calendar(aria-hidden="true")
          .schedule__header-title Schedule
          button.schedule__header-close
            i.fa.fa-close(aria-label="Close Schedule")

        ul.schedule__list
          .schedule__list-day.schedule__list-day--mon
            .schedule__list-day-title Monday
            //- .schedule__list-day-placeholder
          .schedule__list-day.schedule__list-day--tues
            .schedule__list-day-title Tuesday
          .schedule__list-day.schedule__list-day--wed
            .schedule__list-day-title Wednesday
          .schedule__list-day.schedule__list-day--thur
            .schedule__list-day-title Thursday
          .schedule__list-day.schedule__list-day--fri
            .schedule__list-day-title Friday
          .schedule__list-day.schedule__list-day--sat
            .schedule__list-day-title Saturday
          .schedule__list-day.schedule__list-day--sun
            .schedule__list-day-title Sunday
            
      .modal.modal--small
        .modal__inner
          header.modal__header
            .modal__header-title Schedule this restaurant
            button.modal__close
              i.fa.fa-close(aria-label="Cancel scheduling")
          
          .modal__place
              
          .modal__content
            ul.modal__list
              li.modal__list-item 
                button.modal__list-item-button(data-target-day="mon") Monday
              li.modal__list-item 
                button.modal__list-item-button(data-target-day="tues") Tuesday
              li.modal__list-item 
                button.modal__list-item-button(data-target-day="wed") Wednesday
              li.modal__list-item 
                button.modal__list-item-button(data-target-day="thur") Thursday
              li.modal__list-item 
                button.modal__list-item-button(data-target-day="fri") Friday
              li.modal__list-item 
                button.modal__list-item-button(data-target-day="sat") Saturday
              li.modal__list-item 
                button.modal__list-item-button(data-target-day="sun") Sunday
          
      .modal-background
        
      script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyABMZNCMxM-b-CJsBAhKzNpzHhcCPIVF8Y&libraries=places')