.search {
  @include flex;
  @include flex-vertical;  
  @include full-width;
  @include full-height;
  // max-width: unquote($small);
  // margin-left: auto;
  // margin-right: auto;

}

.search__header {
  @include flex-fixed;
  background-color: $primary-color;
}

.search__header-input {
  @include flex;
  @include flex-fluid;
  @include bordered;
  @include full-width;
  @include bg-color-white;
  font-size: $type-18;
  border-radius: $border-radius-lg;
  padding: 0.5em 0.7em;
  // box-shadow: 0 1px 5px rgba(0,0,0,0.2);
}

.search__header-input-icon {
  @include flex-fixed;
  @include relative;
  margin-right: 0.5em;
  top: 0.1em;
  color: #CCC;
}

.search__header-input-field {
  @include flex-fluid;
  &:focus {
  	outline: none;
	}
}

.search__header-schedule-button {
  @include flex-fixed;
  padding-left: 0.7em;
  padding-right: 0.3em;

  i {
    font-size: 1.5em;
    color: $white;
  }
}

.search-map {
  @include flex-fixed;
  @include full-width;
  @include flex;
  background-color: #f7f7f7;
  justify-content: center;
  align-items: center;
  height: 12.5em; //200px
}

.search-map__loading {
  color: #808080;
  
  i {
    margin-right: 0.5em;
  }
}

.search-results {
  @include flex-fluid;
  @include overflow-x-hidden-scroll-y;
  @include border-top;
  @include border-bottom;
}

.search-results__loading  {
  @include hidden;
  @include padded(3);
  @include align-center;
  color: #808080;
  
  &--visible {
    @include block;
  }
  
  i {
    margin-right: 0.5em;
  }
}

.search__schedule-button {
  @include flex-fixed;
  @include padded;
  @include align-center;
  @include type-default;
  @include type-color-primary;
  
  &:hover {
    color: darken($primary-color, 10%);
  }
  
  i {
    margin-right: 0.5em;
  }
}

@keyframes pulse {
  from {
    transform: scale3d(1, 1, 1);
  }

  50% {
    transform: scale3d(1.2, 1.2, 1.2);
  }

  to {
    transform: scale3d(1, 1, 1);
  }
}

.search__schedule-button-inner {  
  &--pulse {
    animation-fill-mode: both;
    animation: pulse 1s;
  }
}

.search-results__list-item,
.schedule__list-item {
  @include flex;
  @include padded(1);
  @include border-top;
  @include bg-color-white;
  
  &:first-of-type {
    border-top: 0;
  }
  
  &:nth-child(odd) {
    // background-color: #f7f7f7;
    
    .search-results__list-item-image {
      @include bg-color-white;
    }
  }
}

.search-results__list-item-image {
  @include flex-fixed;
  @include overflow-hidden;
  @include flex;
  justify-content: center;
  align-items: center;
  width: 4.0625em; //65px
  height: 4.0625em; //65px
  background-color: #ebebeb;
  border-radius: $border-radius-lg;
  
  img {
    @include full-width;
    @include full-height;
  }
}

.search-results__list-item-image-icon {
  color: #808080;
}

.search-results__list-item-info {
  @include flex-fluid;
  @include flex;
  @include flex-vertical;
  @include pad-left;
  justify-content: center;
}

.search-results__list-item-title {
  @include type-default;
  @include font-regular;
  color: #383838;
}

.search-results__list-item-rating {
  @include type-small;
  color: #808080;
}

.search-results__list-item-schedule {
  @include type-xxsmall;
  margin-top: 0.2em;
  color: #808080;
}

.search-results__list-item-schedule-day {
  @include align-center;
  @include inline-block;
  @include border-left;
  @include font-medium;
  border-left: 1px solid #CCC;
  padding: 0 0.2em;
  min-width: 1.5em;
  color: #bfbfbf;
  
  &:first-child {
    border-left: 0;
  }
  
  &--active {
    color: #666;
  }
}

.search-results__list-item-action {
  @include flex-fixed;
  @include flex;
  @include flex-vertical;
  justify-content: center;
  
  .modal__place & {
    @include hidden;
  }
}

.search-results__list-item-button {
  @include type-small;
  padding: 0.25em 0.8em;
  background-color: $primary-color;
  color: white;
  border-radius: $border-radius-lg;
  
  &:hover,
  &:active {
    background-color: darken($primary-color, 10%);
  }
  
  &--add {
    .schedule__list-item & {
      @include hidden;
    }
  }
  
  &--remove {
    @include hidden;
    
    .schedule__list-item & {
      @include block;
    }
  }
  
  i {
    @include relative;
    top: -0.1em;
    margin-right: 0.5em;
  }
}